# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
/src/main/generated/.cache/476cfa1df8cc26436c4e179ef197fa2e7f7a09fa
/src/main/generated/.cache/

# ctags

tags
